body {
    background-color: #CEEAFE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 200px;
}

.form-container {
    background-color: #fff;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h1 {
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-container p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-container a {
    text-decoration: none;
    color: #1f8beb;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form input {
    margin-bottom: 0.75rem;
}

form button,
form input {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

form button {
    background-color: #6BB5F5D6;
    font-weight: 600;
    margin-top: 1rem;
    font-weight: 800;
}

.name-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.name-group input {
    width: 100%;
}

.message-success {
    border: 1px solid #00D621;
    color: #00D621;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: hsl(150, 100%, 95%)
}

.message-error {
    border: 1px solid #FF6961;
    color: #FF6961;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: hsl(0, 100%, 95%);
}

.message-success p,
.message-error p {
    margin: auto;
    font-size: 0.9rem;
    font-weight: bold;
}